.gallery__list {
  display: grid;
  grid-template-areas:
    'one one two'
    'one one three';
  gap: 30px 35px;
}

.gallery__item_1 {
  grid-area: one;
}

.gallery__item_2 {
  grid-area: two;
}

.gallery__item_3 {
  grid-area: three;
}

.gallery__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .gallery__list {
    grid-template-areas:
      'two one one'
      'three one one';
    gap: 15px;
  }
}

@media (max-width: 768px) {
  .gallery__list {
    grid-template-areas:
      'two three'
      'one one'
      'one one';
  }
}

@media (max-width: 480px) {
  .gallery__list {
    grid-template-areas:
      'one'
      'two'
      'three';
    gap: 10px;
  }
}
