.gallery__list {
  display: grid;
  grid-template-columns:
    [one-column-start]
    1fr
    1fr
    [one-column-end two-column-start three-column-start]
    1fr
    [two-column-end three-column-end];
  grid-template-rows:
    [one-row-start two-row-start]
    1fr
    [two-row-end three-row-start]
    1fr
    [one-row-end three-row-end];
  gap: 30px 35px;
}

.gallery__item_1 {
  grid-column: one-column-start / one-column-end;
  grid-row: one-row-start / one-row-end;
}

.gallery__item_2 {
  grid-column: two-column-start / two-column-end;
  grid-row: two-row-start / two-row-end;
}

.gallery__item_3 {
  grid-column: three-column-start / three-column-end;
  grid-row: three-row-start / three-row-end;
}

.gallery__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .gallery__list {
    grid-template-columns:
      [two-column-start three-column-start]
      1fr
      [one-column-start two-column-end three-column-end]
      1fr
      1fr
      [one-column-end];
    gap: 15px;
  }
}

@media (max-width: 768px) {
  .gallery__list {
    grid-template-columns:
      [two-column-start one-column-start]
      1fr
      [two-column-end three-column-start]
      1fr
      [three-column-end one-column-end];
    grid-template-rows:
      [two-row-start three-row-start]
      1fr
      [one-row-start two-row-end three-row-end]
      2fr
      [one-row-end];
  }
}

@media (max-width: 480px) {
  .gallery__list {
    grid-template-columns:
      [one-column-start two-column-start three-column-start]
      1fr
      [one-column-end two-column-end three-column-end];
    grid-template-rows:
      [one-row-start]
      1fr
      [one-row-end two-row-start]
      1fr
      [two-row-end three-row-start]
      1fr
      [three-row-end];
    gap: 10px;
  }
}
